.jumbotron {
    display: flex;
    justify-content: center;
    background:#f2f2f2f2 !important ;
}
.rec-users {
    margin-right: 32px;
    background:#f2f2f2f2;
    width: 250px;
    border-radius: 5px;
    border: 1px solid #009688;
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;

}
.recUsersSpace {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    
}
.wrap {
    margin-top: 10px;
    display: flex;
    margin-left: 20px;
    
}
span {
    text-align: center;
    font-weight: bold;
    font-size: 18px;
    padding: 5px;
    padding-left: 5px;
    font-family :-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}
.profileImg{
    width: 80px;
    height: 80px;
}