.form {
    display: flex;
    justify-content: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.mt-5  {
    text-align: center;
}
.border  {
    width: 680px !important;
    height: 220px !important;
    border-radius: 5px !important;
    display: flex !important;
    align-items: center !important;
}
.postForm{
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    width: 650px;
    height: 200px;
    
}
.postForm:focus {
    border: 2px solid black;
}
label {
    border-radius: 2px solid red !important;
}