.row {
    display: flex;
    justify-content: center;
}
.card  {
    display: flex;
    justify-content: center;
}
.card-body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.btn {
    margin: 0 auto;
    width: 100px;
}
.likes {
    font-weight: bold;
    padding-left: 15px;
    font-size : 16px;
}