* {
    margin :0 ;
    padding:0;
    box-sizing: border-box;
}

.registration-form{
    width: 50%;
  padding-left: 100px;

}
.registration-div{
    width: 400px;
    display: flex;
    margin: 0 auto;
}
.form{
    display: flex;
}
.wrapper {
    display: flex;
    flex-direction: column;
}
.label-input {
    display: flex;
    padding: 10px;
    justify-content: center;
    align-items: center;
    justify-content: flex-end;
}
.gender {
    display: flex;
    padding-right: 60px;
    justify-content: center;
}
.label-fn  {
    font-family: Segoe UI;
    opacity: 0.6;
    font-size: 18px;
    font-weight: bold;
    border: 1px solid black;
}

.pad{
    padding-right: 4px;
}
.label-gender {
    font-family: Segoe UI;
    opacity: 0.6;
    font-size: 18px;
    font-weight: bold;
}

.inputGeneral {
    padding-left: 5px;

    height: 30px;
    margin-left: 10px;
    width: 200px;
    border-radius: 5px;
    outline: none;
    border : 2px solid #5ab9ea;
}

.inputGeneral:focus{
    border: 2.5px solid  #5ab7e6;
}
.gender-select {
    padding-left: 5px;
    margin-left: 10px;
    border-radius: 5px;
    outline: none;
    border : 2px solid #5680E9;
}
.button-signup {
    display: flex;
    width: 400px;
    justify-content: space-around;
    align-items: center;

    flex-direction: column;
}
.signup {
    width: 80px;
    height: 40px;
    border-radius: 5px;
    outline: none;
    background: #5680E9;
    border: 2px solid #5680E9;
    color: #fff;
    font-weight: 600;
    letter-spacing: 1px;
    font-size: 15px;
    margin-top: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.google-signup {
    background: #5680E9;
    border: 2px solid #5680E9;
    color: #fff;
    font-weight: 600;
    letter-spacing: 1px;
    font-size: 15px;
    height: 30px;
    border-radius: 5px;
    outline:none;
    width: 200px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 40px;
}
.google-signup:active {
    background:rgb(66, 4, 102);
}
.signup:active {
    background:rgb(66, 4, 102);
}

.radio {
    display: flex;
    width: 200px;
    margin: 0 auto;
    justify-content: space-around;
    align-items: center;
    outline: none;
}

