* {
    margin :0 ;
    padding:0;
    box-sizing: border-box;
}
.registration-background{
    width: 50%;
    display: flex;
    margin-top: 50px;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 60px;
    /* justify-content: center; */
}
.fist-bump {
    background-size: cover;
}
strong {
    background: -webkit-linear-gradient(#F3D250, #F78888 , #5DA2D5);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-size: 36px;
  }
.title-space {
    display: flex;

}
.gif-space{
    display: flex;
    width: 359px;
    height: 138px;
    margin-top: 30px;
}
.text-space {
    display: flex;
    flex-direction: column;
    margin-top :30px;
}