



.nav{
    justify-content: space-between;
    background:  #166a75;

    
}

.test1{
    background: -webkit-linear-gradient(#F3D250, #F78888 , #8d075a);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
font-family: 'Times New Roman', Times, serif;
font-size : 45px;
letter-spacing: 10px;
line-height: 60px;
margin-left: 5px;
cursor: pointer;
}
body {
    font-family :'Times New Roman', Times, serif
}