*{
    padding: 0;
    box-sizing: border-box;
    margin: 0;
}

.rec-user-space {
    display: flex;
    height: 500px;
    width: 260px;
    margin-left: 15px;
    flex-direction: column;
    background: #fff;
    border-radius :5px;
    border : 2px solid rgb(168, 162, 162);
}
.rec-user-header {
    display: flex;
    height: 30px;
    line-height: 30px;
    border-bottom : 2px solid rgb(133, 163, 218);
}

.article{
    display: flex;
    flex-direction: column;
}


