.profileImage{
    width: 250px;
    height: 250px;
   margin : 0 auto;
    border-radius: 100%;
}
.userForm{
    display: flex;
    flex-direction: column;
    width: 400px;
    margin: 0 auto;
}
.upload{
    width: 0.1px;
    height: 0.1px;
}
.inputGeneral{
    width: 400px;
    height: 40px;
}
.labelGeneral{
    margin-left: 10px;
}
.upload + label {
    width: 400px;
    height:40px;
    font-size: 1em;
    font-weight: 500;
    color: white;
    line-height: 2.6em;
    text-transform: uppercase;
    text-align: center;
    background-color: #61c6d3;
    display: inline-block;
    border-radius: 10px;
    box-shadow: 0px 3px 0px #589ca5;
    transition: 150ms;
    margin-left: 10px;
}

.upload:focus + label,
.upload + label:hover {
    background-color: #61c6d3;
    box-shadow: 0px 5px 0px #79f7ec;
    cursor:pointer;
}
.submitBtn{
    background: #61c6d3;
    margin-left: 10px;
    height: 40px;
    width: 400px;
    margin-top: 10px;
    border-radius: 8px;
    cursor: pointer
}
.submitBtn:hover{
    background: #87dfeb;
}