* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family :-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}
